@import '../config';

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $theme-dark-color;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.7);
	color: #fff;
	z-index: 100;
	overflow: hidden;
	transition: height .3s ease-in-out;
	will-change: height;
	transform: translateZ(0);

	nav {
		opacity: 0;
		transition: opacity .2s ease-in-out .3s;
	}

	a:focus {
		outline : none;
	}
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.is-mount {
	height: 80px;

	nav {
		opacity: 1;
	}
}

.list {
	display: flex;
	list-style: none;
}

.link {
	color: #fff;
	text-decoration: none;
	padding-left: 20px;
}

@include media(">small") {
	.wrapper {
		max-width: 1024px;
		margin-left: calc((100vw - 1024px) / 2);
	}
}
