@import '../config';

.post {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $theme-light-color;

	form {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
		padding: 20px;
	}

	[class^="input"] {
		width: 100%;
		margin-right: 40px;
	}

	[class*="input_checkbox"] {
		width: 60px;
		display: block;
	}

	[class^="input_error"] {
		visibility: hidden;
	}

	[class^="input_invalid"] {
		background-color: #fff;
	}

	textarea {
		padding: 7px 15px;
		margin-bottom: 5px;
		border-radius: 18px;
		resize: none;
		overflow: hidden;
		min-height: 31px;
		max-height: 60px;

		& + label {
			display: none;
		}
	}

	button {
		display: none;
		position: absolute;
		right: 20px;
		bottom: 53px;
		text-indent: -99999px;
		height: 35px;
		width: 35px;
		padding: 0;
		background-color: $theme-dark-color;
		background-size: cover;
		background-image: url(/assets/icons/send-24px.png);
		background-repeat: no-repeat;

		&:hover {
			background-color: $theme-color;
		}
	}
}

.is-fill {
	button {
		display: block;
	}
}

@include media(">small") {
	.post {
		form {
			max-width: 1024px;
			padding: 20px 10px;
		}

		button {
			right: 5px;
		}
	}
}
