@import '../config';

.posts-list {
	margin-bottom: 150px;
}

.posts-item {
	position: relative;
	width: calc(100% - 30px);
	border-radius: 15px;
	padding: 20px 20px 10px;
	margin-bottom: 25px;
	background-color: $grey-light-color;
	box-shadow: 5px 5px 6px -4px rgba(0, 0, 0, 0.75);

	[class^='text'] {
		margin-bottom: 15px;
		white-space: pre-line;
	}

	[class^="close"] {
		top: 5px;
		right: 5px;
	}
}

.posts-details {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
}

.is-mine {
	margin-left: 30px;
	background-color: $theme-light-color;
}

.is-private {
	background-color: $grey-color;
}

@include media(">small") {
	.posts-item {
		width: calc(100% - 60px);
	}

	.is-mine {
		margin-left: 60px;
	}
}
