@import '../../config';

.button {
	border: none;
	background-color: $theme-color;
	color: #fff;
	padding: 10px 20px;
	border-radius: 20px;

	&:hover {
		cursor: pointer;
		background-color: $theme-dark-color
	}
}
