@import '../../config';

.close {
	position: absolute;
	width: 15px;
	height: 15px;
	opacity: 1;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}

	&::before,
	&::after {
		position: absolute;
		left: 7px;
		content: ' ';
		height: 15px;
		width: 1px;
		background-color: #000;
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}
