@import '../../config';

.input {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	font-size: 14px;

	label,
	input,
	textarea {
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}

	label {
		padding-left: 15px;
		text-transform: capitalize;
	}

	input,
	textarea {
		height: 30px;
		padding: 5px 15px;
		margin-bottom: 15px;
		border-radius: 15px;
		border-style: solid;
		border: none;
		border-width: 1px;
		border: 1px solid #000;
	}

	// Should make it fit to content
	textarea {
		max-height: 120px;
	}
}

.checkbox {
	width: 50px;
	margin-left: 60px;

	input {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		height: 30px;
		width: 50px;
		opacity: 0;
		z-index: 10;
	}

	label {
		cursor: pointer;
		text-indent: -9999px;
		margin: 0;
		padding: 0;
		width: 50px;
		height: 30px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 50px;
			height: 30px;
			border-radius: 15px;
			background: $grey-color;
			display: block;

		}

		&::after {
			content: '';
			position: absolute;
			top: 2px;
			left: 2px;
			width: 26px;
			height: 26px;
			background: #fff;
			border-radius: 14px;
			transition: 0.3s;
		}
	}

	input:checked + label::before {
		background: #bada55;
	}

	input:checked + label:after {
		left: calc(100% - 2px);
		transform: translateX(-100%);
	}

	span {
		position: absolute;
		top: 5px;
		right: 70px;
	}
}

.invalid:not(:focus) {
	background-color: $grey-light-color;

	~ .error {
		display: block;
	}
}

.error {
	display: none;
	position: absolute;
	top: 0px;
	right: 10px;
	color: #000;
}

