$breakpoints: (
	small: 812px,
	medium: 1024px,
	large: 1280px,
	mobile-portrait: 414px,
	mobile-landscape: 812px,
	tablet-portrait: 1024px,
	tablet-landscape: 1280px,
	desktop-ld: 1440px,
	desktop-md: 1600px,
	desktop-hd: 1920px
);
