@import '../config';

.layout {
	margin: 80px auto 0;
	padding-top: 40px;
	width: calc(100% - 40px);
	max-width: 1024px;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity .3s ease-in-out .2s, transform .3s ease-in-out .2s;

	[class^="title"]{
		margin-bottom: 30px;
	}
}

[class*="header_is-mount"] {
	& + [class^="layout"] {
		opacity: 1;
		transform: none;
	}
}

@include media(">small") {
	.layout {
		padding-top: 80px;

		[class^="title"]{
			margin-bottom: 60px;
		}
	}
}
