@import '../config';

.login {
	margin: 0 auto;
	max-width: 450px;
	min-height: calc(100vh - 120px);

	[class^="title"] {
		margin-bottom: 100px;
	}
}

.form {
	border-radius: 15px;
	padding: 20px;
	background-color: $theme-light-color;

	button {
		margin-top: 20px;

		&:first-child {
			color: #000;
			background-color: #fff;

			&:hover {
				background-color: $grey-light-color;
			}
		}
	}
}

.submit {
	display: flex;
	justify-content: space-between;
}

.error {
	margin-top: 10px;
	color: $red-color;
}
